## Creating .smi file for descriptor calculation

In [1]:
import pandas as pd
import os

In [3]:
df  = pd.read_csv("inactive_final.csv")
df

,cid,cmpdname,CanonicalSMILES,activity
0,16193338,N-(2-chloro-4-fluorobenzyl)-4-[(1-methyl-2-oxo...,CN1C2=CC=CC=C2C(=CC1=O)OCCCC(=O)NCC3=C(C=C(C=C...,Inactive
1,16193339,"N-[2-(3,4-dimethoxyphenyl)ethyl]-4-[(1-methyl-...",CN1C2=CC=CC=C2C(=CC1=O)OCCCC(=O)NCCC3=CC(=C(C=...,Inactive
2,16193340,"N-[2-(3,4-diethoxyphenyl)ethyl]-3-methyl-2-oxo...",CCOC1=C(C=C(C=C1)CCNC(=O)C2=C(C(=O)OC23CCCCC3)...,Inactive
3,16193341,3-methyl-N-(pentafluorophenyl)-1-phenyl-1H-pyr...,CC1=NN(C(=C1)C(=O)NC2=C(C(=C(C(=C2F)F)F)F)F)C3...,Inactive
4,16193342,"N-(3,4-dimethoxyphenyl)-2-[(1-ethyl-2-oxo-1,2-...",CCN1C2=CC=CC=C2C(=CC1=O)OCC(=O)NC3=CC(=C(C=C3)...,Inactive
...,...,...,...,...
195618,644777,2-[(Furan-2-carbonyl)-amino]-4-methyl-5-(pyrro...,CC1=C(SC(=C1C(=O)OC)NC(=O)C2=CC=CO2)C(=O)N3CCCC3,Inactive
195619,644778,"2-(4-Ethyl-5-furan-2-yl-4H-[1,2,4]triazol-3-yl...",CCN1C(=NN=C1SCC(=O)NC2=CC=CC(=N2)C)C3=CC=CO3,Inactive
195620,644779,1-Phenylmethanesulfonyl-piperidine-4-carboxyli...,C1CN(CCC1C(=O)NC2=CC=C(C=C2)N3CCOCC3)S(=O)(=O)...,Inactive
195621,644780,2-(1-Butyl-1H-tetrazol-5-ylsulfanyl)-N-(6-meth...,CCCCN1C(=NN=N1)SCC(=O)NC2=CC=CC(=N2)C,Inactive
195622,644781,"(5,6-Dimethyl-4-oxo-4H-thieno[2,3-d]pyrimidin-...",CC1=C(SC2=C1C(=O)N(C=N2)CC(=O)OCC(=O)NC(C)(C)C)C,Inactive

In [8]:
# checking for duplicates across rows
# x = df[df.duplicated()]
# x

#checking for duplicates in specific columns
x = df[df.duplicated(['cid'])]
x

Empty DataFrame
Columns: [cid, cmpdname, CanonicalSMILES, activity]
Index: []

In [9]:
df = df.drop(['cmpdname', 'activity'], axis = 'columns')
df

             cid                                    CanonicalSMILES
0       16193338  CN1C2=CC=CC=C2C(=CC1=O)OCCCC(=O)NCC3=C(C=C(C=C...
1       16193339  CN1C2=CC=CC=C2C(=CC1=O)OCCCC(=O)NCCC3=CC(=C(C=...
2       16193340  CCOC1=C(C=C(C=C1)CCNC(=O)C2=C(C(=O)OC23CCCCC3)...
3       16193341  CC1=NN(C(=C1)C(=O)NC2=C(C(=C(C(=C2F)F)F)F)F)C3...
4       16193342  CCN1C2=CC=CC=C2C(=CC1=O)OCC(=O)NC3=CC(=C(C=C3)...
...          ...                                                ...
195618    644777   CC1=C(SC(=C1C(=O)OC)NC(=O)C2=CC=CO2)C(=O)N3CCCC3
195619    644778       CCN1C(=NN=C1SCC(=O)NC2=CC=CC(=N2)C)C3=CC=CO3
195620    644779  C1CN(CCC1C(=O)NC2=CC=C(C=C2)N3CCOCC3)S(=O)(=O)...
195621    644780              CCCCN1C(=NN=N1)SCC(=O)NC2=CC=CC(=N2)C
195622    644781   CC1=C(SC2=C1C(=O)N(C=N2)CC(=O)OCC(=O)NC(C)(C)C)C

[195623 rows x 2 columns]

In [10]:
smiles = df.pop('CanonicalSMILES')
df.insert(0, 'CanonicalSMILES', smiles)
df

                                          CanonicalSMILES       cid
0       CN1C2=CC=CC=C2C(=CC1=O)OCCCC(=O)NCC3=C(C=C(C=C...  16193338
1       CN1C2=CC=CC=C2C(=CC1=O)OCCCC(=O)NCCC3=CC(=C(C=...  16193339
2       CCOC1=C(C=C(C=C1)CCNC(=O)C2=C(C(=O)OC23CCCCC3)...  16193340
3       CC1=NN(C(=C1)C(=O)NC2=C(C(=C(C(=C2F)F)F)F)F)C3...  16193341
4       CCN1C2=CC=CC=C2C(=CC1=O)OCC(=O)NC3=CC(=C(C=C3)...  16193342
...                                                   ...       ...
195618   CC1=C(SC(=C1C(=O)OC)NC(=O)C2=CC=CO2)C(=O)N3CCCC3    644777
195619       CCN1C(=NN=C1SCC(=O)NC2=CC=CC(=N2)C)C3=CC=CO3    644778
195620  C1CN(CCC1C(=O)NC2=CC=C(C=C2)N3CCOCC3)S(=O)(=O)...    644779
195621              CCCCN1C(=NN=N1)SCC(=O)NC2=CC=CC(=N2)C    644780
195622   CC1=C(SC2=C1C(=O)N(C=N2)CC(=O)OCC(=O)NC(C)(C)C)C    644781

[195623 rows x 2 columns]

In [13]:
# creating a new directory in current directory for input and output descriptor files

os.mkdir('smi')
os.mkdir('des')

In [14]:
# creating a .smi file

df.to_csv('smi/inactive.smi', sep = '\t', index = False, header = False)